.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;

  }
  &__link {
    position: relative;
    display: block;
    overflow: hidden;
    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }
    &--square {
      height: 0;
      padding-bottom: 100%;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }
  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include hover(transform, scale(1.3));
  }
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
  &__view-all {
    @include page-grid;
  }
  &__button {
    position: relative;
    height: 56px;
    width: 100%;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
    background-color: $main-color-text;
    color: $background-color;
    border: 2px solid transparent;
    grid-column: span 2;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-sizing: border-box;
    transition:
      color 0.3s ease,
      background-color 0.3s ease,
      border-color 0.3s ease,
      transform 0.3s ease;

    &:hover {
      color: $main-color-text;
      box-sizing: border-box;
      font-weight: 700;
      border: 2px solid #f0f1f4;
      background-color: $space-color;
      transform: scale(1.1);
    }

    &:active {
      color: $background-color;
      box-sizing: border-box;
      font-weight: 700;
      background-color: #111;
    }

    &:focus {
      color: $background-color;
      box-sizing: border-box;
      font-weight: 700;
      background-color: #111;
    }

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}