.contacts {
  @include page-grid;

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-desktop {
      grid-column: 1 / 7;
    }
  }

  &__row {
    display: grid;
    grid-column: 1 / -1;
    gap: 24px;

    @include on-desktop {
      grid-template-columns: repeat(12, 1fr);
      grid-column: 1 / -1;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__name {
    @include contacts-options;
  }
  &__email {
    @include contacts-options;
  }
  &__message {
    @include contacts-options;

    height: 148px;
    resize: none;
  }
  &__button {
    display: grid;
    cursor: pointer;
    place-items: center;
    font-weight: 700;
    text-decoration: none;
    border-radius: 8px;
    height: 56px;
    width: 100%;
    color: $background-color;
    background-color: $main-color-text;
    box-sizing: border-box;
    transition:
      color 0.3s ease,
      background-color 0.3s ease,
      border-color 0.3s ease,
      transform 0.3s ease;

    &:hover {
      color: $main-color-text;
      box-sizing: border-box;
      font-weight: 700;
      border: 2px solid #f0f1f4;
      background-color: $space-color;
      transform: scale(1.1);
    }

    &:active {
      color: $background-color;
      box-sizing: border-box;
      font-weight: 700;
      background-color: #111;
    }

    &:focus {
      color: $background-color;
      box-sizing: border-box;
      font-weight: 700;
      background-color: #111;
    }
  }
}