.footer {
  grid-column: 1 / -1;

  @include on-desktop {
    grid-column: 7 / 13;
  }

  &__information {
    display: grid;
    row-gap: 24px;

    @include on-desktop {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: grid;
    row-gap: 8px;
    grid-column: auto;
  }

  &__title {
    margin: 0;
    font-size: 14px;
    line-height: 140%;
    color: $info-color;
  }

  &__text {
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    margin: 0;
    font-size: 16px;
    line-height: 140%;
    color: $data-color;

    &:hover{
      color: $hover-color;
      transition: all 0.3s;
    }
  }
}