.icon {
  position: relative;
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(/src/images/icons/phone-number.png);

    &::before {
      content: '+1 234 555-55-55';
      position: absolute;
      right: calc(100% + 12px); 
      top: 50%;
      transform: translateY(-50%);
      
      font-size: 12px;
      line-height: 16px;
      font-weight: 700;
      color: $main-color-text;
      letter-spacing: 2px;
      white-space: nowrap;
      
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;
    }

 &:hover::before,
 &:focus::before {
  opacity: 1;
}

    @include on-desktop {
      &::before {
        letter-spacing: 0px;
        transition: 
          opacity 0.3s ease,
          letter-spacing 0.3s ease;
      }

      &:hover::before {
        letter-spacing: 2px;
      }
    }
  }

  &--menu {
    background-image: url(/src/images/icons/Icon-Burger-menu.png);
    &:hover {
      background-image: url(/src/images/icons/Icon-Burger-menu-hover.png);
    }
  }

  &--close {
    background-image: url(/src/images/icons/Icon-close.png);
  }
}