@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline() {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-desktop {
    padding-inline: 120px;
    margin-inline: auto;
    max-width: 1020px;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;

    column-gap: 24px;
  }

  @include on-desktop {
    --columns: 12;
  }
}

@mixin contacts-options {
  display: block;
  box-sizing: border-box;
  border: none;
  background-color: $space-color;
  color: $main-color-text;
  font-family: 'Space Mono', monospace;

  padding-inline: 16px;
  padding-block: 14px;
  border-radius: 8px;
  height: 48px;
  width: 100%;

  margin-bottom: 16px;

  &:hover {
    border: 1px solid #D5D7DE;
    font-weight: 400;

    &::placeholder {
      color: $main-color-text;
      opacity: 1;
    }
  }

  &:focus {
    border: 1px solid $main-color-text;
    outline: none;
    font-weight: 400;
  }
}