$tablet-min-width: 576px;
$desktop-min-width: 1200px;
$main-color-text: #292929;
$menu-color: #e5e6e8;
$background-color: #fff;
$space-color: #f8f8fa;
$info-color: #9393a3;
$data-color: #191919;
$hover-color: #000;
$tablet-min-width: 576px;
$desktop-min-width: 1260px;